---
import HeaderTitleFade from '@components/HeaderTitleFade.astro';
import Explanation from '@components/Explanation.astro';
import Layout from '@layouts/Layout.astro';
import Links from '@components/Links.astro';
---

<Layout title='GSAP Text Reveal Animation'>
	<div style='overflow-x: hidden;'>
		<HeaderTitleFade />
		<Links />
		<Explanation />
	</div>
</Layout>
