---

---

<div class='header'>
	<div class='header__content'>
		<h1
			class='header__title'
			data-reveal='lines'
			data-reveal-delay='0.25'
			data-reveal-duration='1.2'>
			THIS IS RESPONSIVE ANIMATED TITLE
		</h1>
	</div>
</div>

<style>
	.header {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 1rem;
		height: auto;
	}

	.header__content {
		width: 100%;
		text-align: center;
	}

	.header__title {
		overflow: hidden;
		color: black;
		font-size: 6.5rem;
		font-weight: 700;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: -0.02em;
		will-change: transform;
		margin: 0;
		padding: 0;
	}
</style>
